<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings><add name="RestaurantEntities" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROBERTMAC\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="RestaurantEntities1" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROBERTMAC\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="menuDiscount" value="20" />
    <!--<add key="" value="May 6, 2014"/>-->
  </appSettings>
</configuration>