<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="menuDiscount" value="20"/>
    <add key="orderPriceGreaterThanForDelivery" value="50"/>
    <add key="numberMinOrders" value="5"/>
    <add key="discountTime" value="7"/>
    <add key="deliveryCost" value="15"/>
    <add key="orderDiscount" value="10"/>
    <add key="orderPriceGreaterThanForDiscount" value="70"/>
  </appSettings>
<connectionStrings><add name="RestaurantEntities" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROBERTMAC\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>